.jfx-text-field {
    -fx-prompt-text-fill: floralwhite;
    -fx-text-fill: floralwhite;
}
.jfx-date-picker .input-line {
    -fx-background-color: white;
}
.jfx-slider .slider-value {
    -fx-fill: red;
    -fx-stroke: red;
}
.jfx-combo-box{
    -fx-prompt-text-fill: white;
}
.jfx-slider > .colored-track  {
    -fx-background-color: white;
}

.jfx-slider .thumb{
    -fx-background-color: white;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: white;
}

.jfx-slider > .slider.value{
    -fx-fill: black;
}
.jfx-button{
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
    -fx-text-fill: black;
}